<% @books.each do |book| %>

<div class="new-item">
	<ul>
		<li> <%= book.name %></li>
		<li> <%= book.author %></li>
		<li> <%= book.title %></li>
		<li> <%= book.isn %></li>
	</ul>
</div>

<% end %>