<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>
<header>
	<div class="container">
		<img src="../images/logo/arms.png">
		<header>Phòng khám chuyên khoa</header>
		<label>Vạt lý  trị liệu - Phục hồi chức năng</label>
		<div class="support">
			<img src="../images/icon/phone-icon.png">
			<label>Câu hỏi cho bác sĩ</label>
			<label>05113941977</label>
		</div>
	</div>
</header>
<main>
	<div class="container">
		<nav>
		<ul>
		<li><a href="home.html">Trang chủ</a></li>
		<li><a href="intro.html">Giới thiệu</a></li>
		<li><a href="serice.html">Dịch vụ y tế</a></li>
		<li><a href="regular-medicine.html">Y học thường thức</a></li>
		<li><a href="set-calendar.html">Đặt lịch khám</a></li>
		<li><a href="suiccide.html">Tư vấn - Liên hệ</a></li>
		</ul>
		</nav>
		<div class="social">
			<a href="https://www.facebook.com/"><img src="../images/social/facebook.png"></a>
			<a href="https://www.google.com/"><img src="../images/social/google.png"></a>
			<a href="https://www.youtube.com/"><img src="../images/social/youtube.png"></a>
		</div>
	</div>
	<div>
		<img src="../images/picture/doctor.png">
		<a href="home.html">Trang chủ</a>
		<a href="serice.html">Dịch vụ y tế</a>
	</div>
	<div class="adjust">
		<label>Người lớn</label>
		<img src="../images/icon/less.png">
		<nav>
		<ul>
		<li><a href="#">Đau cổ - vai - gáy</a></li>
		<li><a href="#">Đau cột sống</a></li>
		<li><a href="#">Thoát vị đĩa đệm</a></li>
		<li><a href="#">Khớp gối, khớp hông</a></li>
		<li><a href="#">Đau chân</a></li>
		<li><a href="#">Các bệnh về cơ</a></li>
		<li><a href="#">Thần kinh ngoại biên</a></li>
		<li><a href="#">Di chứng tai biến mạch máu não</a></li>
		<li><a href="#">Di chứng chấn thương </a></li>
		</ul>
		</nav>
	</div>
		<div class="adjust">
		<label>Trẻ em</label>
		<img src="../images/icon/add.png">
		<nav>
		<ul>
		<li><a href="#">Đau cổ - vai - gáy</a></li>
		<li><a href="#">Đau cột sống</a></li>
		<li><a href="#">Thoát vị đĩa đệm</a></li>
		<li><a href="#">Khớp gối, khớp hông</a></li>
		<li><a href="#">Đau chân</a></li>
		<li><a href="#">Các bệnh về cơ</a></li>
		<li><a href="#">Thần kinh ngoại biên</a></li>
		<li><a href="#">Di chứng tai biến mạch máu não</a></li>
		<li><a href="#">Di chứng chấn thương </a></li>
		</ul>
		</nav>
	</div>
	<form action="set-calendar.html" method="post"  name="set-calendar">
		<label>Đặt lịch khám</label><br>
		<input type="text" name="name" value="Họ và tên"><br>
		<input type="text" name="address" value="Địa chỉ"><br>
		<input type="text" name="phone-num" value="Số điện thoại"><br>
		<input  id="dateime" type="datetime-local" value="datetime-local">
	</form>
	<form>
		<ul>
		<li><a href="#"><img src="../images/item/item1.png">Đau cổ vai tay</a></li>
		<li><a href="#">
			<label>Lorem ipsum dolor sit amet, consectetur adipisicing</label>
		</a></li>
		<li><a href="#"><img src="../images/icon/arrow.png"></a></li>
		</ul>
	</form>
</main>
<footer>
	<div class="container">
		<div class="about">
			<label>Về phòng khám</label>
			<ul>
			<li><a href="#">Giới thiệu chung</a></li>
			<li><a href="#">Nhân lực</a></li>
			<li><a href="#">Trang thiết bị và cơ sở vật chất</a></li>
			</ul>
		</div>
		<div class="supportlink">
			<label>Hỗ trợ</label>
			<ul>
			<li><a href="#">Tư vấn sức khỏe</a></li>
			<li><a href="#">Y học thường thức</a></li>
			<li><a href="#">Đặt lịch khám</a></li>
			</ul>
		</div>
		<div class="socialcconnect">
			<label>Kết nối xã hội</label>
			<ul>
			<li><a  href="#" ><img src="../images/social/facebook.png"> Facebook</a></li>
			<li><a href="#"><img src="../images/social/google.png">Google +</a></li>
			<li><a href="#"><img src="../images/social/youtube.png">Youtube</a></li>
			</ul>
		</div>
	</div>
</footer>
</body>
</html>
