<footer class="clr">
<div class="container">
  <div class="footinfo">
    <div class="about">
      <label>VỀ NHÀ SÁCH</label>
      <ul>
      <li><a href="#">GIỚI THIỆU CHUNG</a></li>
      <li><a href="#">NHÂN LỰC</a></li>
      <li><a href="#">TRANG THIẾT BỊ VÀ CƠ SỞ VẬT CHẤT</a></li>
      </ul>
    </div>
    <div class="supportlink">
      <label>HỖ TRỢ</label>
      <ul>
      <li><a href="#">TƯ VẤN VỀ SÁCH</a></li>
      <li><a href="#">SÁCH THƯỜNG THỨC </a></li>
      <li><a href="#">ĐẶT MUA SÁCH</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>