<div class="container">
<div class="row">
	
	<div class="col-md-6 col-md-offset-12">
		<ul>
		<li><a href="/">TRANG CHỦ</a></li>
			<li><a href="#">GIỚI THIỆU</a></li>
			<li><p><%= link_to "QUẢN LÝ SÁCH", books_path %></p></a></li>
			<li><a href="/book/shopcart">GIỎ HÀNG</a></li>
			</ul>
	</div>
</div>