<!DOCTYPE html>
<html>
<head>
	<title>BOOK</title>
</head>
<body>
<header>
	<h1>New Book</h1>
</header>
<main>
	<form action="/insert" method="post">
		<label>name</label><br>
		<input type="text" name="name"><br>
		<label>nxb</label><br>
		<input type="text" name="nxb"><br>
		<label>author</label><br>
		<input type="author" name="author"><br>
		<button type="submit">Them</button>
	</form>

</main>
</body>
</html>