footer{
        background-color: #62c6f8;
        height: 250px;
        width: 100%;
}
.footinfo{
    color: white;
    a{
    	color: white;
    	&:hover{
                color: #95d6fa;
	}
	}
}
#about{
float: left;
width: 33%;
}
#supportlink{
float: left;
width: 33%;
}
#socialconnect{
float: left;
width: 33%;
}