.left1, .left2{
    line-height: 30px;
    background-color: #d9e4e9;
}

.submenuChild, .submenuAdult{
    border: 1px solid #ebebeb;
    margin-bottom: 10%;
    margin-top: 10%;
    margin-right: 10%;
}
form{
    border: 1px solid #ebebeb;
    background-color: #d9e4e9;
    margin-right: 10%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    label{
    padding-left: -3px;
    margin-left: 10%;
    }
    button{
        margin-left: 40%;
        margin-right: 40%;
        width: 20%;
    }
    input {
    width: 60%;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-style: inset;
}
}
#setcal{
    line-height: 30px;
}



#set-calendar{
    padding-left: 30%;
    padding-right: 30%;

}
.setcalbtn {
    background-color: #4bbc56; /* Green */
    padding-left: 30%;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    /*text-decoration: none;*/
/*  display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;  
}
.leftsubmenu{
    width: 24%;
    float: left;
    img{
    	float: right;
    	padding-top: 12px;
   	padding-right: 15px;
    }
    label{
    	margin-left: 15px;
    }
    a{
        color: #000;
        &:hover{
                color: #95d6fa;
        }
    }
}