<!DOCTYPE html>
<html>
<head>
	<title>Book Store</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="<%= url("css/style/style.css") %>">
</head>
<body>
<header>
<div class="first">
	<div class="container">
		<div id="home">
			<img src="../images/logo.png">
			<h1>BOOKS STORE</h1>
			<h2>BOOKS for a fantastic life</h2>
		</div>
		<div id="support">
			<img src="../images/icon/phone-icon.png">
			<h2>Liên hệ nhà sách</h2>
			<h3>01648447158</h3>
		</div>	
	</div>
</div>
<nav class="menu">
	<div class="container">
		<ul>
		<li><a href="/bookstore">TRANG CHỦ</a></li>
		<li><a href="/about">GIỚI THIỆU</a></li>
		<li><a href="/book/manage">QUẢN LÝ SÁCH</a></li>
		<li><a href="/book/shopcart">GIỎ HÀNG</a></li>
		<li><a href="/login">ĐĂNG NHẬP/</a>
		<a href="/signin">ĐĂNG KÝ</a></li>
		</ul>
	</div>	
</nav>
<div class="middle" >
		<div class="container">
			<span>
				<a href="/bookstore">TRANG CHỦ/</a>
				<a href="/book/manage">BOOK LIST</a>
			</span>
		</div>
	</div>
</header>
<main class="clr">
<div class="container">
	<div class="leftsubmenu">
		<ul>
		<li><a href="/bookstore">TRANG CHỦ</a></li>
			<li><a href="/about">GIỚI THIỆU</a></li>
			<li><a href="/book/manage">QUẢN LÝ SÁCH</a></li>
			<li><a href="/book/shopcart">GIỎ HÀNG</a></li>
			</ul>
	</div>
	<div class="products">
	
	<%= yield %>
	</div>
</div>
	
</main>
<footer class="clr">
	<div class="container">
	<div class="footinfo">
		<div id="about">
			<label>Về Nhà sách</label>
			<ul>
			<li><a href="#">GIỚI THIỆU CHUNG</a></li>
			<li><a href="#">NHÂN LỰC</a></li>
			<li><a href="#">TRANG THIẾT BỊ VÀ CƠ SỞ VẬT CHẤT</a></li>
			</ul>
		</div>
		<div id="supportlink">
			<label>HỖ TRỢ</label>
			<ul>
			<li><a href="#">Tư vấn về sách</a></li>
			<li><a href="#">Sách thường thức</a></li>
			<li><a href="#">Đặt mua sách</a></li>
			</ul>
		</div>
		<div id="socialconnect">
			<label>KẾT NỐI XÃ HỘI</label>
			<ul>
			<li><a  href="#" ><img src="../images/social/facebook1.png"> Facebook</a></li>
			<li><a href="#"><img src="../images/social/google1.png">Google +</a></li>
			<li><a href="#"><img src="../images/social/youtube1.png">Youtube</a></li>
			</ul>
		</div>
	</div>
</div>
</footer>
</body>
</html>