<div class="abc">
	
	<form accept-charset="UTF-8" action="/insert" method="post" enctype="multipart/form-data">
		<label>Tên Sách</label><br>
		<input type="text" name="bookname"><br>
		<label>Mô tả sách</label><br>
		<input type="text" name="description"><br>
		<label>Nhà xuất bản</label><br>
		<input type="text" name="publisher"><br>
		<label>Tác gỉa</label><br>
		<input type="author" name="author"><br>
		<label>Hình sách</label><br>
		<input type="file" name="file"><br>
		<label>Gía bán</label><br>
		<input type="text" name="price"><br>
		<label>Thể loại sách</label><br>
		<input type="text" name="booktype"><br>
		<!-- <select>
		  <option value="IT">IT</option>
		  <option value="KT">Kien truc</option>
		  <option value="PTBT">Phat trien ban than</option>
		  <option value="VP">Van phong</option>
		</select><br> -->
		<button type="submit">Them</button><br>
	</form>

</div>